[submodule "PSQL"]
	path = PSQL
	url = git@github.com:steviedemo/PSQL.git
[submodule "ImageCropper"]
	path = ImageCropper
	url = https://github.com/dimkanovikov/ImageCropper.git
[submodule "QtWaitingSpinner"]
	path = QtWaitingSpinner
	url = https://github.com/snowwlex/QtWaitingSpinner.git
[submodule "libpqxx"]
	path = libpqxx
	url = https://github.com/jtv/libpqxx.git
[submodule "libqxt"]
	path = libqxt
	url = https://github.com/mnutt/libqxt.git
[submodule "QtVlc"]
	path = QtVlc
	url = https://github.com/Orochimarufan/QtVlc.git
